<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectListCount">
	SELECT 
	       COUNT(PRO_CODE) AS "listCount"
	  FROM PRODUCT
</entry>

<entry key="selectProductList">
	SELECT *
	  FROM (
	    SELECT ROWNUM "RNUM", A.*
	      FROM (
	        SELECT 
	               PRO_CODE
	             , CATEGORY_NO
	             , PRO_NAME
	             , STOCK
	             , PRO_ENROLL_DATE
	          FROM PRODUCT
	         ORDER
	            BY PRO_ENROLL_DATE DESC
	           ) A
	       )
	 WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectProduct">
	SELECT *
	  FROM PRODUCT
	 WHERE PRO_CODE = ?
</entry>

<entry key="updateProduct">
	UPDATE PRODUCT
	   SET 
	       CATEGORY_NO = ?
	     , PRO_NAME = ?
	     , PRICE = ?
	     , PRO_ENROLL_DATE = SYSDATE
	     , PRO_IMG_PATH = ?
	     , DETAIL_IMG_PATH = ?
	     , REQ_INFO_IMG_PATH = ?
	 WHERE PRO_CODE = ?
</entry>

<entry key="selectMaxProCode">
SELECT LAST_NUMBER "maxProCode"
  FROM USER_SEQUENCES
 WHERE SEQUENCE_NAME = 'SEQ_PRONO'
</entry>

<entry key="insertProduct">
	INSERT INTO PRODUCT
	VALUES (
	         SEQ_PRONO.NEXTVAL
	       , ?
	       , ?
	       , ?
	       , ?
	       , ?
	       , DEFAULT
	       , ?
	       , ?
	       , ?
	       , DEFAULT
	        )
</entry>

<entry key="deleteProduct">
	DELETE PRODUCT
	 WHERE PRO_CODE = ?
</entry>

<entry key="searchProduct">
	SELECT *
  FROM (
    SELECT ROWNUM RNUM, A.*
      FROM (
        SELECT 
               PRO_CODE
             , CATEGORY_NO
             , PRO_NAME
             , STOCK
             , PRO_ENROLL_DATE
          FROM PRODUCT
         WHERE CATEGORY_NO IN ? ( EX. 1 / (1,2,3) / (1,3) ) 
           AND PRO_NAME LIKE '%찰%'
         ORDER
            BY PRO_ENROLL_DATE DESC
           ) A
       )
 WHERE RNUM BETWEEN 1 AND 10
</entry>

<entry key="selectProQnaList">
	SELECT *
	  FROM (
	    SELECT ROWNUM RNUM, A.*
	      FROM (
	        SELECT 
	               PRO_QNA_NO
	             , PRO_NAME
	             , PRO_QNA_TITLE
	             , PRO_QNA_WRITER_NAME
	             , PRO_Q_ENROLL_DATE
	             , PRO_A_ENROLL_DATE
	          FROM PRO_QNA
	          JOIN PRODUCT USING(PRO_CODE)
	         ORDER
	            BY PRO_ENROLL_DATE DESC
	           ) A
	       )
	 WHERE RNUM BETWEEN ? AND ?
</entry>

<!-- 모든 상품문의글 개수 조회 -->
<entry key="selectpqlistCount">
SELECT COUNT(PRO_QNA_NO) "listCount"
  FROM PRO_QNA
</entry>

<!-- 답변 상태별 상품문의글 개수 조회 -->
<entry key="selectpqlistCount2">
SELECT COUNT(PRO_QNA_NO) "listCount"
  FROM PRO_QNA
</entry>

<entry key="selectSortProQnaList">
	SELECT *
	  FROM (
	    SELECT ROWNUM RNUM, A.*
	      FROM (
	        SELECT 
	               PRO_QNA_NO
	             , PRO_NAME
	             , PRO_QNA_TITLE
	             , PRO_QNA_WRITER_NAME
	             , PRO_Q_ENROLL_DATE
	             , PRO_A_ENROLL_DATE
	          FROM PRO_QNA
	          JOIN PRODUCT USING(PRO_CODE) 
	          
</entry>
</properties>
	        