<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="selectList">
		SELECT BN_NO
		     , BN_IMG_URL
		     , BN_STATUS
		  FROM BANNER
	</entry>
	
	<entry key="selectMainList">
		SELECT BN_NO
		     , BN_IMG_URL
		     , BN_STATUS
		  FROM BANNER
		 WHERE BN_STATUS = 'Y'
	</entry>
	
	<entry key="insertBanner">
		INSERT
		  INTO BANNER
		VALUES
			 (
			   SEQ_BANNER.NEXTVAL
			 , ?
			 , 'Y'
			 )
	</entry>
	
	<entry key="insertAttachment">
		INSERT
		  INTO ATTACHMENT
		VALUES
			 (
			   SEQ_FILENO.NEXTVAL
			 , 6
			 , SEQ_BANNER.CURRVAL
			 , ?
			 , ?
			 , ?
			 , SYSDATE
			 , 'Y'
			 )
	</entry>
	
	<entry key="updataBannerWithPic">
		UPDATE BANNER
		   SET BN_IMG_URL = ?
		     , BN_STATUS = ?
		 WHERE BN_NO = ?
	</entry>
	
	<entry key="updateBannerWithoutPic">
		UPDATE BANNER
		   SET BN_STATUS = ?
		 WHERE BN_NO = ?
	</entry>
	
	<entry key="updateAttachment">
		UPDATE ATTACHMENT
		   SET ORIGIN_NAME = ?
		     , CHANGE_NAME = ?
		     , FILE_PATH = ?
		     , UPLOAD_DATE = SYSDATE
		     , STATUS = ?
		 WHERE REF_TYPE = 6
		   AND REF_NO = ?
	</entry>


</properties>