<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT COUNT(*) AS COUNT
		  FROM CHALLENGE
		 WHERE CHALL_STATUS = 'Y'
	</entry>
	
	<!-- 관리자, 사용자 챌린지 리스트 조회 -->
	<entry key="selectChallList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
		                       CHALL_NO
		                     , CHALL_TITLE
		                     , CHALL_POINT
		                     , CHALL_THUMBNAIL
		                     , CHALL_ENROLL_DATE
		                     , (SELECT COUNT(*)
		                          FROM CHALLENGE_CMNT CC 
		                         WHERE CC.CHALL_NO = C.CHALL_NO) AS CHALL_CMNT
		                  FROM CHALLENGE C
		                 WHERE CHALL_STATUS = 'Y'
		                 ORDER 
		                    BY CHALL_NO DESC
		                ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>

	<entry key="insertChall">
		INSERT
		  INTO CHALLENGE
		     (
		       CHALL_NO
		     , CHALL_TITLE
		     , CHALL_CONTENT
		     , CHALL_POINT
		     , CHALL_THUMBNAIL
		     )
		VALUES
		     (
		       SEQ_CHALLNO.NEXTVAL
		     , ?
		     , ?
		     , ?
		     , ?
		     )	
	</entry>
	
	<entry key="insertAttachment">
		INSERT
		  INTO ATTACHMENT
		     (
		       FILE_NO
		     , REF_TYPE
		     , REF_BNO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , FILE_PATH
		     )
		VALUES
		     (
		       SEQ_FILENO.NEXTVAL
		     , 2
		     , SEQ_CHALLNO.CURRVAL
		     , ?
		     , ?
		     , ?
		     )		
	</entry>

	<entry key="deleteChall">
		UPDATE 
		       CHALLENGE
		   SET CHALL_STATUS = 'N'
	</entry>


</properties>