<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="selectProList">
		SELECT USER_NO
			 , PRO_CODE
			 , PRO_NAME
			 , PRICE
			 , PRO_QTY
		  FROM CART
		  JOIN PRODUCT
		 USING (PRO_CODE)
		 WHERE USER_NO = ?
		   AND PRO_CODE IN ?
	</entry>
	
	<entry key="insertOrder">
		INSERT
		  INTO "ORDER"
		VALUES
			 (
			   SEQ_ODRNO.NEXTVAL
			 , ?
			 , ?
			 , ?
			 , ?
			 , ?
			 , ?
			 , ?
			 , ?
			 , ?
			 , ?
			 , ?
			 , ?
			 , NULL
			 , 1
			 )
	</entry>
	
	<entry key="insertOrderProduct">
		INSERT
		  INTO "ORDER-PRODUCT"
		VALUES
		     (
		       SEQ_ODRNO.CURRVAL
		     , ?
		     , ?
		     )
	</entry>
	
	<entry key="deleteCart">
		DELETE
		  FROM CART
		 WHERE USER_NO = ?
		   AND PRO_CODE = ?
	</entry>
	
	<entry key="insertPoint">
		INSERT
		  INTO POINT
		VALUES
			 (
			   SEQ_POINTNO.NEXTVAL
			 , ?
			 , '사용'
			 , '상품 결제에 포인트 사용'
			 , 3000
			 , 
			 )
	</entry>
	
</properties>