<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="insertPost">
		INSERT
		  INTO COMPANY
		VALUES
			 (
			   SEQ_COMPANY.NEXTVAL
			 , ?
			 , ?
			 , SYSDATE
			 )
	</entry>
	
	<entry key="selectPost">
		SELECT COM_NO, COM_CATEGORY, COM_CONTENT, COM_UPDATE_DATE
		  FROM COMPANY
		 WHERE COM_CATEGORY = ?
		   AND COM_NO = ( SELECT MAX(COM_NO)
		   			      	FROM COMPANY
		   			       WHERE COM_CATEGORY = ?
		  				)
	</entry>

</properties>