<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="insertContents">
		INSERT
		  INTO CONTENTS
		     (
		       CNT_NO
		     , CNT_TITLE
		     , CNT_CONTENT
		     , CNT_THUMBNAIL
		     )
		VALUES
		     (
		       SEQ_CNTNO.NEXTVAL
		     , ?
		     , ?
		     , ?
		     )	
	</entry>
	
	<entry key="insertAttachment">
		INSERT
		  INTO ATTACHMENT
		     (
		       FILE_NO
		     , REF_TYPE
		     , REF_BNO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , FILE_PATH
		     )
		VALUES
		     (
		       SEQ_FILENO.NEXTVAL
		     , 3
		     , SEQ_CNTNO.CURRVAL
		     , ?
		     , ?
		     , ?
		     )	
	</entry>
	
	<entry key="selectAdList">
		SELECT
		       CNT_NO
		     , CNT_TITLE
		     , CNT_ENROLL_DATE
		     , CNT_COUNT
		     , (SELECT COUNT(*)
		          FROM CONTENTS_LIKE CL 
		         WHERE CL.CNT_NO = C.CNT_NO) AS CNT_LIKE
		  FROM CONTENTS C
		 WHERE CNT_STATUS = 'Y'
		 ORDER 
		    BY CNT_NO DESC
	</entry>

</properties>