<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT COUNT(*) AS COUNT
		  FROM CONTENTS
		 WHERE CNT_STATUS = 'Y'
	</entry>

	<entry key="insertContents">
		INSERT
		  INTO CONTENTS
		     (
		       CNT_NO
		     , CNT_TITLE
		     , CNT_CONTENT
		     , CNT_THUMBNAIL
		     )
		VALUES
		     (
		       SEQ_CNTNO.NEXTVAL
		     , ?
		     , ?
		     , ?
		     )	
	</entry>
	
	<entry key="insertAttachment">
		INSERT
		  INTO ATTACHMENT
		     (
		       FILE_NO
		     , REF_TYPE
		     , REF_BNO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , FILE_PATH
		     )
		VALUES
		     (
		       SEQ_FILENO.NEXTVAL
		     , 3
		     , SEQ_CNTNO.CURRVAL
		     , ?
		     , ?
		     , ?
		     )	
	</entry>
	
	<entry key="selectAdList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
		                       CNT_NO
		                     , CNT_TITLE
		                     , CNT_COUNT
		                     , CNT_ENROLL_DATE
		                     , (SELECT COUNT(*)
		                          FROM CONTENTS_LIKE CL 
		                         WHERE CL.CNT_NO = C.CNT_NO) AS CNT_LIKE
		                  FROM CONTENTS C
		                 WHERE CNT_STATUS = 'Y'
		                 ORDER 
		                    BY CNT_NO DESC
		                ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="updateContents">
		UPDATE
		       CONTENTS
		   SET CNT_TITLE = ?
		     , CNT_CONTENT = ?
		     , CNT_THUMBNAIL = ?
		 WHERE CNT_NO = ?
	</entry>

	<entry key="updateAttachment">
		UPDATE
		       ATTACHMENT
		   SET ORIGIN_NAME = ?
		     , CHANGE_NAME = ?
		     , FILE_PATH = ?
		 WHERE FILE_NO = ?
	</entry>

	<entry key="deleteContents">
		UPDATE 
		       CONTENTS
		   SET CNT_STATUS = 'N'
	</entry>
		
	<entry key="selectContentsList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
		                       CNT_NO
		                     , CNT_TITLE
		                     , CNT_CONTENT
		                     , CNT_THUMBNAIL
		                     , CNT_ENROLL_DATE
		                     , (SELECT COUNT(*)
		                          FROM CONTENTS_LIKE CL 
		                         WHERE CL.CNT_NO = C.CNT_NO) AS CNT_LIKE
		                  FROM CONTENTS C
		                 WHERE CNT_STATUS = 'Y'
		                 ORDER 
		                    BY CNT_NO DESC
		                ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="increaseCount">
		UPDATE CONTENTS
		   SET CNT_COUNT = CNT_COUNT+1
		 WHERE CNT_NO = ?
		   AND CNT_STATUS = 'Y'
	</entry>
	
	<entry key="selectContents">
		SELECT *
		  FROM (SELECT
		               CNT_NO
		             , CNT_TITLE
		             , CNT_CONTENT
		             , CNT_THUMBNAIL
		             , CNT_COUNT
		             , CNT_ENROLL_DATE
		             , (SELECT COUNT(*)
		                  FROM CONTENTS_LIKE CL 
		                 WHERE CL.CNT_NO = C.CNT_NO) AS CNT_LIKE
		             , LAG(CNT_NO) OVER(ORDER BY CNT_NO)  AS CNTNO_PREV
		             , LEAD(CNT_NO) OVER(ORDER BY CNT_NO) AS CNTNO_NEXT
		          FROM CONTENTS C
		         WHERE CNT_STATUS = 'Y')
		 WHERE CNT_NO = ?
	</entry>
	
	<entry key="selectAttachment">
		SELECT 
		       FILE_NO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , FILE_PATH
		  FROM ATTACHMENT
		 WHERE REF_TYPE = 3
		   AND REF_BNO = ?
	</entry>
	
	<entry key="selectPrevNextContents">
		SELECT
		       CNT_NO
		     , CNT_TITLE
		     , CNT_THUMBNAIL
		  FROM CONTENTS
		 WHERE CNT_NO = ?
		   AND CNT_STATUS = 'Y'
	</entry>
	
	<entry key="insertLike">
		INSERT
		  INTO CONTENTS_LIKE
		       (
		         CNT_NO
		       , USER_NO
		       )
		VALUES (
		         ?
		       , ?
		       )
	</entry>
	
	<entry key="selectLike">
		SELECT COUNT(*) AS LIKERESULT
		  FROM CONTENTS_LIKE
		 WHERE CNT_NO = ?
		   AND USER_NO = ?
	</entry>
	
	<entry key="deleteLike">
		DELETE 
		  FROM CONTENTS_LIKE
		 WHERE CNT_NO = ?
		   AND USER_NO = ?
	</entry>

</properties>