<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectNoticeList">
		SELECT
		        NOTICE_NO
		      , USER_NAME
		      , CS_CATEGORY_NAME
		      , NOTICE_TITLE
		      , NOTICE_CONTENT
		      , NOTICE_ENROLL_DATE
		  FROM NOTICE
		  JOIN MEMBER ON (USER_NO = NOTICE_WRITER)
		  JOIN CS_CATEGORY USING(CS_CATEGORY_NO)
		 WHERE NOTICE_STATUS = 'Y'
		  ORDER
		    BY NOTICE_NO DESC
	</entry>

	<entry key="selectCateNoticeList">
		SELECT
		        NOTICE_NO
		      , USER_NAME
		      , CS_CATEGORY_NAME
		      , NOTICE_TITLE
		      , NOTICE_CONTENT
		      , NOTICE_ENROLL_DATE
		  FROM NOTICE
		  JOIN MEMBER ON (USER_NO = NOTICE_WRITER)
		  JOIN CS_CATEGORY USING(CS_CATEGORY_NO)
		 WHERE NOTICE_STATUS = 'Y'
		   AND CS_CATEGORY_NO = ?
		  ORDER
		    BY NOTICE_NO DESC
	</entry>

	<entry key="selectFaqList">
		SELECT
		        FAQ_NO
		      , USER_NAME
		      , CS_CATEGORY_NAME
		      , FAQ_TITLE
		      , FAQ_CONTENT
		      , FAQ_ENROLL_DATE
		  FROM FAQ
		  JOIN MEMBER ON (USER_NO = FAQ_WRITER)
		  JOIN CS_CATEGORY USING(CS_CATEGORY_NO)
		 WHERE FAQ_STATUS = 'Y'
		  ORDER
		    BY FAQ_NO DESC
	</entry>
	
	<entry key="selectCateFaqList">
		SELECT
		        FAQ_NO
		      , USER_NAME
		      , CS_CATEGORY_NAME
		      , FAQ_TITLE
		      , FAQ_CONTENT
		      , FAQ_ENROLL_DATE
		  FROM FAQ
		  JOIN MEMBER ON (USER_NO = FAQ_WRITER)
		  JOIN CS_CATEGORY USING(CS_CATEGORY_NO)
		 WHERE FAQ_STATUS = 'Y'
		   AND CS_CATEGORY_NO = ?
		  ORDER
		    BY FAQ_NO DESC
	</entry>
	






</properties>