<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectCategoryList">
		SELECT *
  		  FROM CS_CATEGORY
	</entry>
	
	<entry key="selectNoticeList">
		SELECT
		        NOTICE_NO
		      , USER_NAME
		      , CS_CATEGORY_NAME
		      , NOTICE_TITLE
		      , NOTICE_CONTENT
		      , NOTICE_ENROLL_DATE
		  FROM NOTICE
		  JOIN MEMBER ON (USER_NO = NOTICE_WRITER)
		  JOIN CS_CATEGORY USING(CS_CATEGORY_NO)
		 WHERE NOTICE_STATUS = 'Y'
		  ORDER
		    BY NOTICE_NO DESC
	</entry>

	<entry key="selectCateNoticeList">
		SELECT
		        NOTICE_NO
		      , USER_NAME
		      , CS_CATEGORY_NAME
		      , NOTICE_TITLE
		      , NOTICE_CONTENT
		      , NOTICE_ENROLL_DATE
		  FROM NOTICE
		  JOIN MEMBER ON (USER_NO = NOTICE_WRITER)
		  JOIN CS_CATEGORY USING(CS_CATEGORY_NO)
		 WHERE NOTICE_STATUS = 'Y'
		   AND CS_CATEGORY_NO = ?
		  ORDER
		    BY NOTICE_NO DESC
	</entry>
	
	
	<entry key="selectNoticeListCount">
		SELECT COUNT(*) AS "COUNT"
		  FROM NOTICE
	</entry>
	
	<entry key="selectAdNoticeList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM(
		                SELECT
                                NOTICE_NO
		                      , USER_NAME
		                      , CS_CATEGORY_NAME
		                      , NOTICE_TITLE
		                      , NOTICE_CONTENT
		                      , NOTICE_ENROLL_DATE
		                      , NOTICE_STATUS
		                  FROM NOTICE
		                  JOIN CS_CATEGORY USING (CS_CATEGORY_NO)
		                  JOIN MEMBER ON (USER_NO = NOTICE_WRITER)
		                  ORDER
		                    BY NOTICE_NO DESC
		                ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="adDeleteNotice">
		UPDATE 
		       NOTICE
		   SET NOTICE_STATUS = 'N'
	</entry>
	
	<entry key="insertNotice">
		INSERT
		  INTO NOTICE
		  (
		    NOTICE_NO
		  , NOTICE_WRITER
		  , CS_CATEGORY_NO
		  , NOTICE_TITLE
		  , NOTICE_CONTENT
		  , NOTICE_ENROLL_DATE
		  , NOTICE_STATUS
		  )
		  VALUES
		  (
		    SEQ_NNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , DEFAULT
		  , DEFAULT
		  )
	</entry>
	
	<entry key="selectNotice">
		SELECT
		       USER_NAME
		     , CS_CATEGORY_NO
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		  FROM NOTICE
		  JOIN MEMBER ON (NOTICE_WRITER = USER_NO)
		 WHERE NOTICE_NO = ?
	</entry>
	
	<entry key="updateNotice">
		UPDATE NOTICE
		   SET NOTICE_WRITER = ?
		     , CS_CATEGORY_NO = ?
		     , NOTICE_TITLE = ?
		     , NOTICE_CONTENT = ?
		 WHERE NOTICE_NO = ?
	</entry>
	
	
	<!-- ================================================================================ -->

	<entry key="selectFaqList">
		SELECT
		        FAQ_NO
		      , USER_NAME
		      , CS_CATEGORY_NAME
		      , FAQ_TITLE
		      , FAQ_CONTENT
		      , FAQ_ENROLL_DATE
		  FROM FAQ
		  JOIN MEMBER ON (USER_NO = FAQ_WRITER)
		  JOIN CS_CATEGORY USING(CS_CATEGORY_NO)
		 WHERE FAQ_STATUS = 'Y'
		  ORDER
		    BY FAQ_NO DESC
	</entry>
	
	<entry key="selectCateFaqList">
		SELECT
		        FAQ_NO
		      , USER_NAME
		      , CS_CATEGORY_NAME
		      , FAQ_TITLE
		      , FAQ_CONTENT
		      , FAQ_ENROLL_DATE
		  FROM FAQ
		  JOIN MEMBER ON (USER_NO = FAQ_WRITER)
		  JOIN CS_CATEGORY USING(CS_CATEGORY_NO)
		 WHERE FAQ_STATUS = 'Y'
		   AND CS_CATEGORY_NO = ?
		  ORDER
		    BY FAQ_NO DESC
	</entry>
	
	<entry key="selectFaqListCount">
		SELECT COUNT(*) AS "COUNT"
		  FROM FAQ
	</entry>
	
	<entry key="selectAdFaqList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM(
		                SELECT
                                FAQ_NO
		                      , USER_NAME
		                      , CS_CATEGORY_NAME
		                      , FAQ_TITLE
		                      , FAQ_CONTENT
		                      , FAQ_ENROLL_DATE
		                      , FAQ_STATUS
		                  FROM FAQ
		                  JOIN CS_CATEGORY USING (CS_CATEGORY_NO)
                          JOIN MEMBER ON (USER_NO = FAQ_WRITER)
		                  ORDER
		                    BY FAQ_NO DESC
		                ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="deleteFaq">
		UPDATE 
		       FAQ
		   SET FAQ_STATUS = 'N'
	</entry>
	
	<entry key="insertFaq">
		INSERT
		  INTO FAQ
		  (
		    FAQ_NO
		  , FAQ_WRITER
		  , CS_CATEGORY_NO
		  , FAQ_TITLE
		  , FAQ_CONTENT
		  )
		  VALUES
		  (
		    SEQ_FAQNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="selectFaq">
		SELECT
		       USER_NAME
		     , CS_CATEGORY_NO
		     , FAQ_TITLE
		     , FAQ_CONTENT
		  FROM FAQ
		  JOIN MEMBER ON (USER_NO = FAQ_WRITER)
		 WHERE FAQ_NO = ?
	</entry>
	
	<entry key="updateFaq">
		UPDATE FAQ
		   SET FAQ_WRITER = ?
		     , CS_CATEGORY_NO = ?
		     , FAQ_TITLE = ?
		     , FAQ_CONTENT = ?
		 WHERE FAQ_NO = ?
	</entry>
<!-- ==================================================================================================================== -->
	
	<entry key="selectListCount">
		SELECT COUNT(*) AS "COUNT"
		  FROM QNA
		 WHERE QNA_STATUS = 'Y'
	</entry>
	
	<entry key="selectQnaList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM(
		                SELECT
		                        QNA_NO
		                      , USER_ID
		                      , QNA_TITLE
		                      , QNA_CONTENT
		                      , QNA_FILE
		                      , QNA_EMAIL
		                      , QNA_PHONE
		                      , QNA_PWD
		                      , USER_NAME
		                      , QNA_ANSWER
		                      , QNA_ENROLL_DATE
		                  FROM QNA
		                  JOIN MEMBER ON (USER_NO = QNA_WRITER)
		                 WHERE QNA_STATUS = 'Y'
		                  ORDER
		                    BY QNA_NO DESC
		                ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>

	<entry key="insertQna">
		INSERT
		  INTO QNA
		  (
		    QNA_NO
		  , QNA_WRITER
		  , QNA_TITLE
		  , QNA_CONTENT
		  , QNA_EMAIL
		  , QNA_PHONE
		  , QNA_PWD
		  )
		  VALUES
		  (
		    SEQ_QNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="insertAttach">
		INSERT 
		  INTO ATTACHMENT
		  (
		    FILE_NO
		  , REF_TYPE
		  , REF_BNO
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , FILE_PATH
		  )
		  VALUES
		  (
		    SEQ_FILENO.NEXTVAL
		  , 1
		  , SEQ_QNO.CURRVAL
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<!-- 글 조회 -->
	<entry key="selectQna">
		SELECT
		       QNA_NO
		     , USER_ID
		     , QNA_TITLE
		     , QNA_CONTENT
		     , QNA_FILE
		     , QNA_EMAIL
		     , QNA_PHONE
		     , QNA_PWD
		     , QNA_ANSWER
		     , QNA_ENROLL_DATE
		  FROM QNA
		  JOIN MEMBER ON (USER_NO = QNA_WRITER)
		 WHERE QNA_NO = ?
	</entry>
	
	<entry key="selectAttachment">
		SELECT
		       FILE_NO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , FILE_PATH
		  FROM ATTACHMENT
		 WHERE REF_TYPE = 1
		   AND REF_BNO = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="updateQna">
		UPDATE
		       QNA
		   SET QNA_TITLE = ?
		     , QNA_CONTENT = ?
		     , QNA_EMAIL = ?
		     , QNA_PHONE = ?
		     , QNA_PWD = ?
		 WHERE QNA_NO = ?
	</entry>
	
	<entry key="updateAttachment">
		UPDATE
		       ATTACHMENT
		   SET ORIGIN_NAME = ?
		     , CHANGE_NAME = ?
		     , FILE_PATH = ?
		 WHERE FILE_NO = ?
	</entry>
	
	<entry key='insertNewAttachment'>
		INSERT
		  INTO ATTACHMENT
		  (
		    FILE_NO
		  , REF_TYPE
		  , REF_BNO
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , FILE_PATH
		   )
		   VALUES
		   (
		    SEQ_FILENO.NEXTVAL
		  , 1
		  , ?
		  , ?
		  , ?
		  , ?
		   )
	</entry>
	
	<entry key="deleteQna">
		UPDATE
		       QNA
		   SET QNA_STATUS = 'N'
		 WHERE QNA_NO = ?
	</entry>
	
	<entry key='deleteAttachment'>
		UPDATE
		       ATTACHMENT
		   SET STATUS = 'N'
		 WHERE REF_TYPE = 1
		   AND REF_BNO = ?
	</entry>
	
	<entry key="selectMpQnaList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM(
		                SELECT
		                        QNA_NO
		                      , USER_ID
		                      , QNA_TITLE
		                      , QNA_CONTENT
		                      , QNA_FILE
		                      , QNA_EMAIL
		                      , QNA_PHONE
		                      , QNA_PWD
		                      , USER_NAME
		                      , QNA_ANSWER
		                      , QNA_ENROLL_DATE
		                  FROM QNA
		                  JOIN MEMBER ON (USER_NO = QNA_WRITER)
		                 WHERE QNA_STATUS = 'Y'
		                   AND USER_NO = ?
		                  ORDER
		                    BY QNA_NO DESC
		                ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectMpQnaListCount">
		SELECT COUNT(*) AS "COUNT"
		  FROM QNA
		 WHERE QNA_STATUS = 'Y'
		   AND QNA_WRITER = ?
	</entry>
	




</properties>