<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!-- 아이디 중복 확인 -->
	<entry key="checkId">
		SELECT
		       COUNT(*) AS "COUNT"
		  FROM MEMBER
		 WHERE USER_ID = ?
	</entry>
	
	<!-- 이메일 중복 확인 -->
	<entry key="checkEmail">
		SELECT
		       COUNT(*) AS "COUNT"
		  FROM MEMBER
		 WHERE EMAIL = ?
	</entry>
	
	<!-- 전화번호 중복 확인 -->
	<entry key="checkPhone">
		SELECT
		       COUNT(*) AS "COUNT"
		  FROM MEMBER
		 WHERE PHONE = ?
	</entry>
	
	<!-- 회원가입 insert -->
	<entry key="insertMember">
		INSERT 
		  INTO MEMBER
		  VALUES 
		  (
		    SEQ_UNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , DEFAULT
		  , DEFAULT
		  , ?
		  )
	</entry>
	
	<!-- 로그인 -->
	<entry key="loginMember">
		SELECT
		        USER_NO
		      , USER_ID
		      , USER_PWD
		      , USER_NAME
		      , EMAIL
		      , PHONE
		      , ZONECODE
		      , ADDRESS
		      , ADDR_EXTRA
		      , ADDR_DETAIL
		      , USER_BIRTH
		      , GENDER
		      , USER_ENROLL_DATE
		      , USER_MODIFY_DATE
		      , USER_STATUS
		  FROM MEMBER
		 WHERE USER_STATUS IN ('Y', 'M')
		   AND USER_ID = ?
		   AND USER_PWD = ?
	</entry>
	
	<!-- 아이디 찾기 -->
	<entry key="findId">
		SELECT
		       USER_ID
		  FROM MEMBER
		 WHERE USER_STATUS = 'Y'
		   AND USER_NAME = ?
		   AND EMAIL = ?
	</entry>
	
	<!--  비밀번호 찾기 -->
	<entry key="findPwd">
		SELECT
		       COUNT(*) AS "COUNT"
		  FROM MEMBER
		 WHERE USER_STATUS = 'Y'
		   AND USER_ID = ?
		   AND USER_NAME = ?
	</entry>
	
	<!-- 인증번호 보낼 이메일 조회 -->
	<entry key="enterEmail">
		SELECT
		        EMAIL
		  FROM MEMBER
		 WHERE USER_STATUS = 'Y'
		   AND USER_ID = ?
	</entry>
	
	<!-- 비밀번호 변경 -->
	<entry key="updatePwd">
		UPDATE MEMBER
		   SET USER_PWD = ?
		 WHERE USER_STATUS = 'Y'
		   AND USER_ID = ?
	</entry>
	
	<!-- 회원 정보 수정 -->
	<entry key="updateMember">
		UPDATE MEMBER
		   SET USER_PWD = ?
		     , USER_NAME = ?
		     , EMAIL = ?
		     , PHONE = ?
		     , ZONECODE = ?
		     , ADDRESS = ?
		     , ADDR_EXTRA = ?
		     , ADDR_DETAIL = ?
		     , USER_BIRTH = ?
		     , GENDER = ?
		     , USER_MODIFY_DATE = SYSDATE
		 WHERE USER_ID = ?
	</entry>
	
	<entry key="deleteMember">
		UPDATE MEMBER
		   SET USER_STATUS = 'N'
		 WHERE USER_ID = ?
		   AND USER_PWD = ?
	</entry>
	
	<entry key="selectListCount">
		SELECT COUNT(*) AS "COUNT"
		  FROM MEMBER
	</entry>
	
	<entry key="selectMemberList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM(
		                SELECT
		                        USER_NO
		                      , USER_ID
		                      , USER_PWD
		                      , USER_NAME
		                      , EMAIL
		                      , PHONE
		                      , ZONECODE
		                      , ADDRESS
		                      , ADDR_EXTRA
		                      , ADDR_DETAIL
		                      , USER_ENROLL_DATE
		                  FROM MEMBER
		                  ORDER
		                    BY USER_NO DESC
		                ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="searchMemberList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM(
		                SELECT
		                       USER_NO
		                     , USER_ID
		                     , USER_PWD
		                     , USER_NAME
		                     , EMAIL
		                     , PHONE
		                     , ZONECODE
		                     , ADDRESS
		                     , ADDR_EXTRA
		                     , ADDR_DETAIL
		                     , USER_ENROLL_DATE
		                  FROM MEMBER
		                 WHERE USER_ID LIKE ?
		                    OR USER_NAME LIKE ?
		                  ORDER
		                    BY USER_NO DESC
		                ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</properties>