<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!-- 아이디 중복 확인 -->
	<entry key="checkId">
		SELECT
		       COUNT(*) AS "COUNT"
		  FROM MEMBER
		 WHERE USER_ID = ?
	</entry>
	
	<!-- 이메일 중복 확인 -->
	<entry key="checkEmail">
		SELECT
		       COUNT(*) AS "COUNT"
		  FROM MEMBER
		 WHERE EMAIL = ?
	</entry>
	
	<!-- 전화번호 중복 확인 -->
	<entry key="checkPhone">
		SELECT
		       COUNT(*) AS "COUNT"
		  FROM MEMBER
		 WHERE PHONE = ?
	</entry>
	
	<!-- 회원가입 insert -->
	<entry key="insertMember">
		INSERT 
		  INTO MEMBER
		  VALUES 
		  (
		    SEQ_UNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , DEFAULT
		  , DEFAULT
		  , DEFAULT
		  )
	</entry>
	
	<entry key="loginMember">
		SELECT
		        USER_NO
		      , USER_ID
		      , USER_PWD
		      , USER_NAME
		      , EMAIL
		      , PHONE
		      , ZONECODE
		      , ADDRESS
		      , ADDR_EXTRA
		      , ADDR_DETAIL
		      , USER_BIRTH
		      , GENDER
		      , USER_ENROLL_DATE
		      , USER_MODIFY_DATE
		      , USER_STATUS
		  FROM MEMBER
		 WHERE USER_STATUS = 'Y'
		   AND USER_ID = ?
		   AND USER_PWD = ?
	</entry>
	
	<entry key="findId">
		SELECT
		       USER_ID
		  FROM MEMBER
		 WHERE USER_STATUS = 'Y'
		   AND USER_NAME = ?
		   AND EMAIL = ?
	</entry>
	
	<entry key="findPwd">
		SELECT
		       COUNT(*) AS "COUNT"
		  FROM MEMBER
		 WHERE USER_STATUS = 'Y'
		   AND USER_ID = ?
		   AND USER_NAME = ?
	</entry>
	
	<entry key="enterEmail">
		SELECT
		        EMAIL
		  FROM MEMBER
		 WHERE USER_STATUS = 'Y'
		   AND USER_ID = ?
	</entry>
	
	<entry key="updatePwd">
		UPDATE MEMBER
		   SET USER_PWD = ?
		 WHERE USER_STATUS = 'Y'
		   AND USER_ID = ?
	</entry>
	
	
	
</properties>