<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectListCount">
	SELECT 
       	   COUNT(PRO_CODE) AS "listCount"
	  FROM PRODUCT
	 WHERE CATEGORY_NO = ?
</entry>

<entry key="selectCategoryList">
	SELECT 
	       PRO_CATEGORY_NO
	     , PRO_CATEGORY_NAME
	     , PRO_CATEGORY_IMG_PATH
	  FROM PRO_CATEGORY
	 ORDER
	    BY PRO_CATEGORY_NO
</entry>

<entry key="selectProductCountList">
	SELECT
	       COUNT(*) "productCount"
	  FROM PRODUCT
	 GROUP 
	    BY CATEGORY_NO
	 ORDER
	    BY CATEGORY_NO
</entry>

<entry key="selectProductList">
	SELECT *
		 FROM (
		   SELECT ROWNUM RNUM, A.*
		     FROM (
		       SELECT 
		              PRO_CODE
		            , PRO_CATEGORY_NAME
		            , PRO_NAME
		            , TO_CHAR(PRICE, '99,999') AS "PRICE"
		            , PRO_ENROLL_DATE
		            , PRO_IMG_PATH
		            , PRO_COUNT
		         FROM PRODUCT
		         JOIN PRO_CATEGORY ON (CATEGORY_NO = PRO_CATEGORY_NO)
		        WHERE CATEGORY_NO = ?
		        ORDER
		           BY PRO_CODE DESC
		          ) A
		      )
		WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectBestProductList">
	SELECT *
	  FROM (
	    SELECT ROWNUM "RNUM", A.*
	      FROM (
	        SELECT 
	               PRO_CODE
	             , PRO_CATEGORY_NAME
	             , PRO_NAME
	             , TO_CHAR(PRICE, '99,999') "PRICE"
	             , PRO_ENROLL_DATE
	             , PRO_IMG_PATH
	             , PRO_COUNT
	          FROM PRODUCT
	          JOIN PRO_CATEGORY ON (CATEGORY_NO = PRO_CATEGORY_NO)
	         WHERE CATEGORY_NO = ?
	         ORDER
	            BY PRO_COUNT DESC, PRO_NAME ASC
	           ) A
	       )
	 WHERE ROWNUM BETWEEN 1 AND 5
</entry>

<entry key="selectProductList2">
	SELECT *
	 FROM (
	   SELECT ROWNUM RNUM, A.*
	     FROM (
	       SELECT 
	              PRO_CODE
	            , PRO_CATEGORY_NAME
	            , PRO_NAME
	            , TO_CHAR(PRICE, '99,999') "PRICE"
	            , PRO_ENROLL_DATE
	            , PRO_IMG_PATH
	            , PRO_COUNT
	         FROM PRODUCT
	         JOIN PRO_CATEGORY ON (CATEGORY_NO = PRO_CATEGORY_NO)
	        WHERE PRO_CATEGORY_NO = ?
	          AND PRO_NAME LIKE ?
	        ORDER
	           BY PRO_CODE DESC
	          ) A
	      )
	WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectWishList">
	SELECT
		   PRO_IMG_PATH
	     , PRO_NAME
	     , PRO_CODE
	     , PRICE
	     , WISH_DATE
 	  FROM WISHLIST
	  JOIN PRODUCT USING (PRO_CODE)
	  JOIN MEMBER USING (USER_NO)
	 WHERE USER_NO = ?
</entry>

<entry key="increaseProCount">
UPDATE PRODUCT
   SET PRO_COUNT = PRO_COUNT + 1
 WHERE PRO_CODE = ?
 </entry>
 
<entry key="selectProduct">
	SELECT 
		   PRO_CODE
		 , CATEGORY_NO
		 , PRO_NAME
		 , PRO_INFO
		 , PRICE
		 , STOCK
		 , PRO_ENROLL_DATE
		 , PRO_IMG_PATH
		 , DETAIL_IMG_PATH
		 , REQ_INFO_IMG_PATH
		 , PRO_COUNT
	  FROM PRODUCT
	 WHERE PRO_CODE = ?
</entry>

<entry key="deleteWish">
	DELETE 
	  FROM WISHLIST
	 WHERE USER_NO = ?
	   AND PRO_CODE = ?
</entry>

<entry key="selectQlistCount">
   SELECT
	      COUNT(PRO_QNA_NO) "listCount"
	 FROM PRO_QNA
	WHERE PRO_CODE = ?
</entry>

<entry key="selectProQnaList">
	SELECT *
	  FROM (
	     SELECT ROWNUM "RNUM", A.*
	      FROM (
	            SELECT *
	              FROM PRO_QNA
	             WHERE PRO_CODE = ?
	             ORDER 
	                BY PRO_Q_ENROLL_DATE
	           ) A  
	       )
	 WHERE ROWNUM BETWEEN ? AND ?
</entry>

</properties>