<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	
	<!-- 특정 회원의 모든 리뷰 리스트를 조회 -->
	<entry key="selectList">
		SELECT REV_NO
		     , USER_NO
		     , PRO_CODE
		     , PRO_NAME
		     , PRO_IMG_PATH
		     , REV_DATE
		     , REV_RATE
		     , REV_CONTENT
		     , REV_TYPE 
		  FROM REVIEW
	 	  JOIN PRODUCT USING (PRO_CODE)
		 WHERE USER_NO = ?
		 ORDER
		    BY REV_DATE DESC
	</entry>
	
	<!-- 특정 회원의 사진 리뷰들의 사진 정보를 조회 -->
	<entry key="selectAttachmentList">
		SELECT REF_BNO
		     , FILE_PATH
		     , CHANGE_NAME
		  FROM REVIEW
	 LEFT JOIN ATTACHMENT
	 	    ON (REV_NO = REF_BNO)
		 WHERE REF_TYPE = 4
		   AND USER_NO = ?
		   AND STATUS = 'Y'
	     ORDER
			BY REV_DATE DESC
	</entry>
	
	<entry key="checkPurchase">
		SELECT USER_NO
		    , PRO_CODE
		 FROM "ORDER_PRODUCT"
		 JOIN "ORDER"
		USING (ORDER_NO)
		WHERE PRO_CODE = ?
		  AND USER_NO = ?
	</entry>
	
	<entry key="insertReview">
		INSERT
		  INTO REVIEW
		VALUES
			 (
			   SEQ_REVIEW.NEXTVAL
			 , ?
			 , ?
			 , SYSDATE
			 , ?
			 , ?
			 , ?
			 )
	</entry>
	
	<entry key="insertNewAttachment">
	INSERT
	  INTO ATTACHMENT
	VALUES
	     (
	       SEQ_FILENO.NEXTVAL
	     , 4
	     , SEQ_REVIEW.CURRVAL
	     , ?
	     , ?
	     , ?
	     , SYSDATE
	     , 'Y'
	     )
	</entry>
	
	<entry key="insertAttachment">
		INSERT
		  INTO ATTACHMENT
		VALUES
		     (
		       SEQ_FILENO.NEXTVAL
		     , 4
		     , ?
		     , ?
		     , ?
		     , ?
		     , SYSDATE
		     , 'Y'
		     )
	</entry>
	
	<!-- 리뷰 수정 클릭 -> 리뷰정보 조회 -->
	<entry key="selectReview">
		SELECT REV_NO
		     , PRO_NAME
		     , PRO_IMG_PATH
		     , REV_RATE
		     , REV_CONTENT
		     , REV_TYPE
		  FROM REVIEW
		  JOIN PRODUCT USING (PRO_CODE)
		 WHERE USER_NO = ?
		   AND PRO_CODE = ?
	</entry>
	
	<entry key="selectAttachment">
		SELECT FILE_NO
		     , REF_BNO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , FILE_PATH
		  FROM ATTACHMENT
		 WHERE REF_TYPE = 4
		   AND REF_BNO = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="updateReview">
		UPDATE REVIEW
		   SET REV_RATE = ?
		     , REV_CONTENT = ?
		     , REV_TYPE = ?
		 WHERE REV_NO = ?
	</entry>
	
	<entry key="updateAttachment">
		UPDATE ATTACHMENT
		   SET STATUS = 'N'
		 WHERE REF_TYPE = 4
		   AND REF_BNO = ?
		   AND CHANGE_NAME != ?
	</entry>
	
	<entry key="deleteReview">
		DELETE 
		  FROM REVIEW
		 WHERE REV_NO = ?
	</entry>
	
	<entry key="deleteAttachment">
		UPDATE
		   SET STATUS = 'N'
		 WHERE REF_TYPE = 4
		   AND REF_BNO = ?
	</entry>
	
	

</properties>